{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise|Noto+Sans|Salsa|Roboto+Condensed&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	<div class="fixed-top">
		<div class="container-fluid" id="menuBar">
			<div class="row">
			    <div class="col">
			      <h2 id="sign">Hanna</h2>
			    </div>
			    <div class="col">
			      <nav class="navbar navbar-expand-lg navbar-light float-md-right">
		  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    				<span class="navbar-toggler-icon"></span>
		    		</button>
			    		<div class="collapse navbar-collapse" id="navbarNav">
						    <ul class="navbar-nav">
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'story_4:index' %}#homePage">Home</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'story_4:index' %}#profilePage">Profile</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'story_4:index' %}#abilitiesPage">Abilities</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'story_4:index' %}#experiencePage">Experience</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'story_4:index' %}#contactPage">Contact</a>
						      </li>
						      <li class="nav-item">
						        <a class="nav-link" href="{% url 'story_4:activities' %}">Activities</a>
						      </li>
						    </ul>
						</div>
					</nav>	
			    </div>
			</div>
		</div>
	</div>
<